.headerDesign{
    background-color: rgb(98, 84, 193);
    width: 100vw;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    }
    
.buttonsNavigatorDesign{
    display: flex;
    justify-content: center;
    height: 100%;
    width: 35em;
    align-items: end;
    }
    
.textUserDesign{
    display: flex;
    align-items: flex-end;
    height: 100%;
    color: white;
    margin-bottom: 1.5em;
    }
    
.logoDesign{
    width: 6em;
    margin-right: 0.5em;
    }
    
.logoTitle{
    display: flex;
    width: 15em;
    flex-direction: column;
    justify-content: flex-end;
    color: white;
    }
    
.groupLogo{
    display: flex;
    height: 100%;
    flex-direction: row;
    align-items: end;
    }

@media (max-width: 865px){
.headerDesign{
    flex-direction: column;
    }
.buttonsNavigatorDesign{
    display: flex;
    justify-content: center;
    height: 50%;
    width: 20em;
    align-items: end;
    }
.logoDesign{
    display: none;
    }
.logoTitle{
    flex-direction: row;
    gap: 0.5em;
    align-items: end;
    }
.textUserDesign{
    align-items: center;
    height: 20%;
    margin-bottom: 0;
    }
}